<div class="tour-list-container">

  <!-- Laden -->
  
  <!-- Fehler -->
  
  <!-- Liste -->
  <div *ngIf="!isLoading" class="tour-list">
    <h2 class="tour-heading">Meine Touren</h2>
    
    <!-- Keine Touren vorhanden -->
    <p *ngIf="isLoading">Touren werden geladen...</p>
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
    <p *ngIf="tours.length === 0">Keine Touren vorhanden.</p>
    
    <div>
      <button (click)="showForm()" class="add-tour-button">+ Add Tour</button>
    </div>
    <!-- Eine Tour pro Eintrag -->
    <div *ngFor="let tour of tours" class="tour-item">
      <div class="tour-name">{{tour.name}}</div>
      <div>
        {{tour.from}} → {{tour.to}}
      </div>
      <!--<div>{{tour.estimatedTime}} min</div>-->
      <div class = "tour-transport-type">
        {{tour.transportType}}
      </div>
    </div>

  </div>

  <app-tour-form
    *ngIf="formIsShown"
    (formSubmitted)="addTour($event)"
    (formCancelled)="hideForm()">
  </app-tour-form>