<div class="tour-page-container">
  <app-tour-list
    [tours]="tours"
    [isLoading]="isLoading"
    [errorMessage]="errorMessage"
    (tourSelected)="onTourSelected($event)"
    (showForm)="showForm()">
  </app-tour-list>

  <app-tour-detail
    *ngIf="selectedTour && !formIsShown"
    [tour]="selectedTour"
    (deleteTourEvent)="deleteTour()"
    (updateTourEvent)="refreshSelectedTour()"
    class="detail-view">
  </app-tour-detail>

  <app-tour-form
    *ngIf="formIsShown"
    (formSubmitted)="formSubmit($event)"
    (formCancelled)="hideForm()">
  </app-tour-form>
</div>